/************************************ Desktop **************************************/

/******************* Default ******************/ 
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --main-orange-color: rgba(238,81,36,255);
}

/*************** Main Section *****************/
.banner-main-container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*************** LEFT and RIGHT ***************/
.title-container, .content-container {
    color: white;
    padding: 20px;
    height: 170px;
}

/******** Left(or Top: mobile) Section ********/
.title-container {
    background-color: var(--main-orange-color);
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: calc(50% - 130px);
    margin-left: auto;
    margin-right: 0px;
}
.throtl-logo img {
    width: 150px;
    height: 123px;
}
.title-inner {
    display: flex;
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 0.8em;
    font-style: italic;
}
.title {
    padding: 20px;
    transform: translateY(10px);
}
.title h1 {
    width: 200px;
}
#joinVIP-btn {
    width: 72px;
    height: 25px;
    font-size: 10px;
    background-color: black;
    color: white;
    margin-top: 4px;
    border: none;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#joinVIP-btn:hover {
    cursor: pointer;
}

/****** Right(or Bottom: mobile) Section ******/
.content-container {
    background: linear-gradient( rgba(62,48,44,0.5), rgba(62,48,44,0.5) ), 
                url("./Images/tire-thread.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: top right -150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    width: calc(50% - 80px);
    margin-left: -80px;
    margin-right: auto;
    clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.content-inner {
    margin-left: 75px;
    margin-top: 28px;
}
.content-inner img {
    background: var(--main-orange-color);
    border-radius: 50%;
    margin-right: 10px;
    padding: 3px;
    width: 17px;
    height: 17px;
}
.content-inner .content-logo:nth-child(2) img,
.content-inner .content-logo:nth-child(2) p {
    margin-top: 12px;
    margin-bottom: 12px;
}
.content-logo {
    display: flex;
}
.content-logo p {
    font-size: 12px;
    letter-spacing: 1px;
    transform: translateY(2px);
}


/******************************* Mobile (Portrait) *********************************/
@media (orientation: portrait) 
   and (min-width: 280px) 
   and (max-width: 1023px) {
    /*************** Main Section *****************/
    .banner-main-container {
        display: block;
        height: 100%;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-inner {
        display: block;
        width: 100%;
        line-height: 2.2em;
        letter-spacing: 0px;
    }
    .title-container {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
        margin-left: auto;
        margin-right: auto;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px; 
        border-bottom-left-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        clip-path: polygon(0 40%, 100% 10%, 100% 100%, 0% 100%);
    }
}
@media (orientation: portrait) 
   and (min-width: 769px) 
   and (max-width: 1023px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 800px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: calc(50% + 100px);
        height: 485px;
    }
    .throtl-logo img {
        width: 190px;
        height: 140px;
    }
    .title-inner {
        font-size: 1.5em;
    }
    .title {
        transform: translateY(-15px);
        padding: 10px;
    }
    .title h1 {
        width: 500px;
    }
    #joinVIP-btn {
        width: 189px;
        height: 60px;
        margin-top: 12px;
        font-size: 24px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: calc(50% + 100px);
        height: 525px;
        transform: translateY(-250px);
    }
    .content-inner {
        margin-left: 0px;
        margin-top: 240px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .content-inner img {
        margin-right: 15px;
        padding: 7px;
        width: 40px;
        height: 40px;
    }
    .content-logo p {
        font-size: 20px;
        transform: translateY(2px);
    }
}
@media (orientation: portrait) 
   and (min-width: 541px) 
   and (max-width: 768px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 560px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {     
        width: calc(50% + 110px);
        height: 355px;
    }
    .throtl-logo img {
        width: 150px;
        height: 100px;
    }
    .title-inner {
        font-size: 1.1em;
    }
    .title {
        transform: translateY(-15px);
        padding: 10px;
    }
    .title h1 {
        width: 350px;
    }
    #joinVIP-btn {
        width: 136px;
        height: 44px;
        margin-top: 6px;
        font-size: 18px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: calc(50% + 110px);
        height: 395px;
        transform: translateY(-190px);
    }
    .content-inner {
        margin-left: 0px;
        margin-top: 170px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .content-inner img {
        margin-right: 15px;
        padding: 5px;
        width: 30px;
        height: 30px;
    }
    .content-logo p {
        font-size: 15px;
        transform: translateY(1px);
    }
}
@media (orientation: portrait) 
   and (min-width: 376px) 
   and (max-width: 540px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 384px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: calc(50% + 127px);
        height: 305px;
    }
    .throtl-logo img {
        width: 120px;
        height: 90px;
    }
    .title-inner {
        font-size: 0.8em;
        transform: translateX(-10px);
    }
    .title {
        transform: translateY(-15px);
        padding: 10px;
    }
    .title h1 {
        width: 250px;
    }
    #joinVIP-btn {
        width: 101px;
        height: 35px;
        margin-top: 6px;
        font-size: 13px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: calc(50% + 127px);
        height: 340px;
        transform: translateY(-170px);
    }
    .content-inner {
        margin-left: 0px;
        margin-top: 155px;
    }
    .content-inner img {
        margin-right: 12px;
        padding: 4px;
        width: 25px;
        height: 25px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .content-logo p {
        font-size: 12px;
        transform: translateY(-1px);
    }
}

/* The current smallest screen size is 280px with Galaxy Fold (portrait) 
   - UPDATED: 02/20/22 */
@media (orientation: portrait) 
   and (min-width: 280px) 
   and (max-width: 375px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 280px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: calc(50% + 110px);
        height: 255px;
    }
    .throtl-logo img {
        width: 100px;
        height: 80px;
    }
    .title-inner {
        font-size: 0.65em;
        transform: translateX(-10px);
    }
    .title {
        transform: translateY(-15px);
        padding: 10px;
    }
    #joinVIP-btn {
        width: 82px;
        height: 30px;
        margin-top: 6px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: calc(50% + 110px);
        height: 290px;
        transform: translateY(-136px);
        
    }
    .content-inner {
        margin-left: 0px;
        margin-top: 130px;
    }
    .content-inner img {
        margin-right: 15px;
        padding: 2px;
        width: 20px;
        height: 20px;
    }
    .content-logo p {
        font-size: 10px;
        transform: translateY(-1px);
    }
}

/******************************* Mobile (Landscape) *********************************/
@media (orientation: landscape)
   and (min-width: 568px)
   and (max-width: 1080px) {
    /*************** LEFT and RIGHT ***************/
    .title-container, .content-container {
        height: 100px;
    }
}
@media (orientation: landscape)
   and (min-width: 961px)
   and (max-width: 1080px) {
    /*************** Main Section *****************/
       .banner-main-container {
        width: 900px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: 350px;
    }
    .throtl-logo img {
        width: 100px;
        height: 70px;
        margin-left: -7px;
        margin-top: -6px;
        margin-right: 5px;
    }
    .title-inner {
        line-height: 1.5em;
        font-size: 0.5em;
    }
    .title h1 {
        width: 140px;
    }
    .title {
        padding: 7px;
        transform: translateY(5px);
    }
    #joinVIP-btn {
        width: 47px;
        height: 18px;
        font-size: 7px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-inner {
        margin-left: 42px;
        margin-top: 2px;
    }
    .content-inner img {
        width: 15px;
        height: 15px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .content-logo p {
        font-size: 9px;
        transform: translateY(3px);
    }
}
@media (orientation: landscape) 
   and (min-width: 813px)
   and (max-width: 960px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 844px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: 310px;
    }
    .throtl-logo img {
        width: 90px;
        height: 73px;
        margin-top: -8px;
        margin-left: -8px;
    }
    .title-inner {
        line-height: 1.7em;
        font-size: 0.5em;
    }
    .title h1 {
        width: 120px;
    }
    .title {
        padding: 5px;
        transform: translateY(5px);
    }
    #joinVIP-btn {
        width: 49px;
        height: 18px;
        font-size: 7px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: 300px
    }
    .content-inner {
        margin-left: 38px;
        margin-top: 2px;
    }
    .content-inner img {
        width: 13px;
        height: 13px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-logo p {
        font-size: 9px;
        transform: translateY(2px);
    }
}
@media (orientation: landscape)
   and (min-width: 653px)
   and (max-width: 812px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 653px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: 300px;
    }
    .throtl-logo img {
        width: 90px;
        height: 73px;
        margin-top: -8px;
        margin-left: -8px;
    }
    .title-inner {
        letter-spacing: 0px;
        line-height: 1.7em;
        font-size: 0.5em;
    }
    .title h1 {
        width: 120px;
    }
    .title {
        padding: 5px;
        transform: translateY(5px);
    }
    #joinVIP-btn {
        width: 42px;
        height: 18px;
        font-size: 7px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: 300px
    }
    .content-inner {
        margin-left: 38px;
        margin-top: 2px;
    }
    .content-inner img {
        width: 13px;
        height: 13px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-logo p {
        font-size: 9px;
        transform: translateY(2px);
    }
}
/* The current smallest screen size is 568px with iPhone SE (landscape) 
   - UPDATED: 02/20/22 */
@media (orientation: landscape)
   and (min-width: 568px)
   and (max-width: 652px) {
    /*************** Main Section *****************/
    .banner-main-container {
        width: 653px;
    }

    /******** Left(or Top: mobile) Section ********/
    .title-container {
        width: 300px;
    }
    .throtl-logo img {
        width: 90px;
        height: 73px;
        margin-top: -8px;
        margin-left: -8px;
    }
    .title-inner {
        letter-spacing: 0px;
        line-height: 1.7em;
        font-size: 0.5em;
    }
    .title h1 {
        width: 120px;
    }
    .title {
        padding: 5px;
        transform: translateY(5px);
    }
    #joinVIP-btn {
        width: 42px;
        height: 18px;
        font-size: 7px;
    }

    /****** Right(or Bottom: mobile) Section ******/
    .content-container {
        width: 300px
    }
    .content-inner {
        margin-left: 38px;
        margin-top: 2px;
    }
    .content-inner img {
        width: 13px;
        height: 13px;
    }
    .content-inner .content-logo:nth-child(2) img,
    .content-inner .content-logo:nth-child(2) p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-logo p {
        font-size: 9px;
        transform: translateY(2px);
    }
}